.App {
    text-align: center;
}

.scrollContainer{
    height: 500px;
    overflow: scroll;
    background-color: 'green';
}


.scrollContainer {
    width: 960px;
    margin: 0px auto;
  }
  
  
  .myGrid {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 30px auto;
    height: 100vh;
  }
  
  .imgWrap{
    overflow: hidden;
    height: 0;
    padding: 50% 0px;
    position: relative;
  }
  
  .imgWrap img {
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  
  .scrollContainer {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scrollContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}